language: python
python:
  - 3.8
before_install:
  - openssl aes-256-cbc -K $encrypted_fb088dcee1f3_key -iv $encrypted_fb088dcee1f3_iv
    -in secrets.json.enc -out secrets.json -d
install:
  - pip install -r requirements.txt
script:
  - python manage.py test
cache:
  directories:
    - "$HOME/.m2/repository"
    - "$HOME/.gradle"
before_deploy:
  - zip -r aws-carping ./*
  - mkdir -p dpl_cd_upload
  - mv aws-carping.zip dpl_cd_upload/aws-carping.zip
deploy:
  - provider: s3
    access_key_id: "$AWS_ACCESS_KEY"
    secret_access_key: "$AWS_SECRET_KEY"
    local_dir: dpl_cd_upload
    skip_cleanup: true
    on:
      repo: TourKakao-Carping/Carping-Backend
      branch: main
    bucket: chanjongs
    region: ap-northeast-2
